<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu principal</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link href="https://cdn.datatables.net/v/dt/dt-1.13.7/datatables.min.css" rel="stylesheet">
  
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.7/datatables.min.js"></script>

</head>
<body>

    <div class="container" style="margin-left:5%;margin-right:5%;margin-top:5%">
        



        <div class="alert alert-primary" role="alert">
            <h2 class="text-center">Historial de mensajes de Raspberry Pi Pico</h2>
        </div>

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <!--a class="navbar-brand" href="#">CC8</a-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!--li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
        </li-->
        <!--li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Vecinos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('VecinosView.vecinos') }}">Listado</a></li>
    
          </ul>
          
        </li>
        <li class="nav-item">
           <a class="nav-link dropdown-toggle" href="{{ url_for('listaPuertos') }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Conexion
          </a>
           <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('listaPuertos') }}">Puertos tarjeta</a></li>
    
          </ul>
        </li>
      </ul>
     
    </div>
  </div>
</nav>

       
        <table id="tablaMensajes" class="display" style="width:100%"> 
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tipo:</th>
                    <th>Mensaje:</th>
                    <th>Fecha:</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
    
     <script>

$(document).ready(function () {

     var tablaMensajes = $('#tablaMensajes').DataTable({
        "ajax": {
            "url": "/listarMensajes",
            "dataSrc": "data"  // Indica que los datos se encuentran en la propiedad "data"
        },
        "columns": [
            { "data": "id" },
            { "data": "tipoMensaje" },
            { "data": "mensaje" },
            { "data": "fecha" }
        ],
        "order": [[ 0, "desc" ]],
        "destroy":true,
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
        }
    });
});


 // Escuchar el evento 'datos_actualizados' emitido por socket.io
    /*socket.on('datos_actualizados', function (msg) {
        // Recargar los datos de la DataTable cuando se actualizan
        tablaMensajes.ajax.reload();
    });*/
     var socket = io.connect('http://' + document.domain + ':' + location.port);

      socket.on('datos_actualizados', function (msg) {
        // Buscar la fila con el ID correspondiente
        var fila = tablaMensajes.row('#' + msg.id);

        // Actualizar la fila si existe, de lo contrario, agregarla
        if (fila.length) {
            fila.data(msg).draw(false); // Actualizar datos sin volver a dibujar la tabla completa
        } else {
            tablaMensajes.row.add(msg).draw(); // Agregar una nueva fila
        }
    });
    </script>
    <!--script>
        $(document).ready(function() {
        //let tabla = new DataTable('#example');
        let tabla = $('#example').DataTable(
            {
                "order":[[1,"desc"]]
            }
        );


        tabla.on('click','tbody tr',function(){
           let data = tabla.row(this).data();
        });
        });
    </script-->


    <!--script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('datos_actualizados', function(msg) {
            var tabla = $('#example').DataTable();
            let fechaHora = new Date();
            tabla.row.add([msg.data,fechaHora]).draw();
      // Obtén el ID de la fila recién insertada
        let rowIndex = tabla.rows().count() - 1;
        let rowId = tabla.row(rowIndex).id();

            $.ajax({
                type: "POST",
                url: "/guardarMensajeRecibido",
                data: { mensaje: msg.data },
                success: function(response) {
                    
                    alert("estoy aqui: "+response)
                    // Puedes manejar la respuesta del servidor aquí si es necesario
                    //console.log(response);
                }
            });*/

        });
    </script-->

     <!--script>
         $("#btnEnviarMensaje").on("click", function() {
            let mensaje = $("#txtEnviarMensaje").val();
            alert("estoy aqui"+mensaje )
            $.ajax({
                type: "POST",
                url: "/enviarMensaje",
                data: { mensaje: mensaje },
                success: function(response) {
                    if (response.data[0].success) {
                        alert("Mensaje enviado exitosamente");
                    } else {
                        alert("Error al enviar el mensaje");
                    }
                    // Puedes manejar la respuesta del servidor aquí si es necesario
                    console.log(response);
                }
            });
        });
     </script-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>
</html>

