<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de vecinos</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.7/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.7/datatables.min.js"></script>
</head>
<body>

    <div class="container" style="margin-left:5%;margin-right:5%;margin-top:2%;margin-bottom:7%">        
        <div class="alert alert-primary" role="alert">
            <h2 class="text-center">Listado de vecinos</h2>
        </div>        
        <table id="tablaVecinos" class="display" style="width:100%"> 
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre grupo</th>
                </tr>
            </thead>
            <tbody> 
            </tbody>
        </table>

        <div class="d-grid gap-2 col-6 mx-auto">
            <a type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Registrar vecino</a>
            <a href="{{ url_for('index') }}" class="btn btn-primary" type="button">Menu principal</a>

            <a href="{{ url_for('formularioEnvioMensaje') }}" type="button" class="btn btn-success">Enviar mensaje</a>

        </div>

        <!-- INICIO MODAL -->
<!--button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Open modal for @fat</button>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Open modal for @getbootstrap</button-->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Datos grupo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="/registrarVecino" class="row g-3 needs-validation">
      
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Nombre grupo:</label>
            <input type="text" class="form-control" name="txtNombreGrupo" required pattern="^[a-zA-Z0-9]+(?: [a-zA-Z0-9]+)?$" title="Válido solo un espacio. Ejemplo: datos, grupo 2, mi mejor grupo">
            <div class="valid-feedback">
                Muy bien.
            </div>
        <div class="invalid-feedback">
            Por favor, introduce un nombre de grupo.
        </div>
          </div>
           <div class="modal-footer">
            <input type="submit" value="Guardar datos" class="btn btn-primary" type="button">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
           </div>
        </form>
      </div>
     
    </div>
  </div>
</div>

        <!-- 
        FIN MODAL
        -->

    </div>

 <script>



$(document).ready(function () {
    function actualizarTabla(){

    
    $('#tablaVecinos').DataTable({
        "ajax": {
            "url": "/obtenerVecinos",
            "dataSrc": "data"  // Indica que los datos se encuentran en la propiedad "data"
        },
        "columns": [
            { "data": "id" },
            { "data": "nombre" }
        ],
        
    });
    

    }
    actualizarTabla();

});
    </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>
</html>

